html{
    box-sizing:border-box;
}

*,
*:before,
*:after{
    box-sizing:inherit;
}

body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#eee;
    font-family:sans-serif;
}

.items{

    width:1000px;
    height:500px;

    display:flex;

    overflow-x:auto;
    overflow-y:hidden;

    white-space:nowrap;

    cursor:grab;

    user-select:none;

    border:5px solid #222;

    scroll-behavior:auto;
}

.items.active{
    cursor:grabbing;
}

.item{

    flex:0 0 200px;

    height:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:60px;

    color:white;

    font-weight:bold;
}

.item:nth-child(9n+1){background:dodgerblue;}
.item:nth-child(9n+2){background:goldenrod;}
.item:nth-child(9n+3){background:cadetblue;}
.item:nth-child(9n+4){background:tomato;}
.item:nth-child(9n+5){background:purple;}
.item:nth-child(9n+6){background:green;}
.item:nth-child(9n+7){background:crimson;}
.item:nth-child(9n+8){background:teal;}
.item:nth-child(9n+9){background:orange;}